@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Fulfill your needs, submit your Purchase Request in Indomaret Order System.</p>
</div>
